body{
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}

ul li{
	display: inline;
	list-style: none;
	padding: 10px;
}
#bungkus {
	background-color: #563d7c;
	overflow: hidden;
	text-decoration: none;
	position: fixed;
	width: 100%;
	top: 0;
	color: #a2a1df;

}

#bungkus a{
	color: white;
}
#bungkus li:hover {
	color: white;
}

.icon {
	padding: 3px 10px;
	border: 1px  solid white;
	border-radius: 5px;
	font-size: 25px;
	color:white;
}
.icon2 {
	padding: 3px 15px;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 15px;
	background-color: #563d7c;
	float: right;
	color: white;
	font-size:20px;
	margin-right: 15px;
}
.icon2:hover {
	background-color:#ffff66;
}

.menu {
	width: 100%;
	margin-top: 50px;

}

.menu1 {
	width: 45%;
	float: left;
	padding: 20px;
	font-size: 20px;
	margin: 20px;
}
.menu1 h3{
	color:#9933ff;
}
.menu2 {
	width: 45%;
	float: left;
	padding: 20px;
}

.menu2 img {
	width: 80%;
	float: right;
}

.get {
	padding:20px 50px;
	border: 1px solid black;
	float: left;
	font-size: 20px;
}
.get:hover {
	background-color: #007acc;
}
.don {
	padding:20px 50px;
	border:1px solid black;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}
.don:hover {
	background-color: #007acc;
}
.niw:hover {
	background-color: #007acc;
}
.cut {
	float: none;
}
.icon4 {
	float: right;
	margin: 1px;
}
.dow img {
	width: 120px;
	padding:5px;
}

.dow {
	width: 100%;
	float: left;
}
.now {
	margin: right;
}
.men {
	width: 45%;
	float: left;
	padding:20px;
	font-size: 20%;
	margin:20px;


}
.hew1 {
	width: 30%;
	float: left;
	font-size: 20px;
	margin: 20px;
	background-color: rgb(248, 249, 250);
}

.hew {
	padding:;
	background-color: #ffffff;
	float: none;
	width: 100%;
	overflow: hidden;
}
.bro img {
	width:100%;
	float:right;
	padding:1px;
	margin:5px;

}
.ho {
	padding:20px 30px;
	border: 1px solid black;
	float: left;
	font-size: 15px;
	color: #2db9b9;
}
.ho:hover {
	background-color:#007acc;
}
.niw {
	padding:20px 30px;
	border: 1px solid black;
	float: left;
	font-size: 15px;
	color:#2db9b9;
}
.noi {
	padding:20px 30px;
	border: 1px solid black;
	float: left;
	font-size: 15px;
	color:#2db9b9;
}
.noi:hover{
	background-color:#007acc;
}
#bungkus1 {
	padding: : 10px;
	width:100%;
	clear: both;
	margin: 20px;
}
.go {
	width: 80%;
	float: left;
	font-size: 15px;
	margin: 20px;
	background-color: #eff5f5;
}
